/* ============================== 
MAIN STYLES
================================*/
body {
    margin: 0;
    background: url(images/background.png);
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, a, li {
    font-family: "Poetsen One", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

h2 {
    color: rgb(245, 230, 151);
    font-weight: bold;
    font-size: 34px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background-color: rgb(124, 210, 239);
    color: #222;
    font-family: "Poetsen One", sans-serif;
}

.btn:hover {
    background-color: rgb(64, 144, 170);
    color: #070606;
}

/* ============================== 
NAVIGATION STYLES
================================*/
nav {
    background-color: rgba(34, 34, 34);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: rgb(124, 210, 239);
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}

nav a:hover {
    color: rgb(64, 144, 170)
}

/* ============================== 
HEADER STYLES
================================*/
header {
    padding: 80px 30px;
    text-align: left;    
    min-height: 100vh;
}

header .container .about-me {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

header .container .about-me .about-me-img {
    transform: rotate(-7deg);
    background-color: rgba(34, 34, 34);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    max-width: 60%;
    margin: 0 auto;
}

header .container .about-me .about-me-img img {
    max-width: 700px;
    width: 100%;
    margin-bottom: 44px;
    border-radius: 10px;
    transform: rotate(7deg);
}

header .container .about-me .about-me-second-part {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

header .container .about-me .social-media {
    display: flex;
    gap: 50px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}

header .container .about-me .social-media .linkedin,
header .container .about-me .social-media .github {
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transform: rotate(12deg);
}

header .container .about-me .social-media .github {
    transform: rotate(-12deg);
}

header .container .about-me .social-media .linkedin a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .github a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .tape {
    position: absolute;
    top: -45px;
    left: -26px;
    /* pointer-events helps to react on the elements arround */
    pointer-events: none; 
    z-index: 5;
    transform: rotate(-1deg);
}

header .container .about-me .text-about {
    padding: 20px 30px;
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    color: #f5f5f5;
    height: fit-content;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    position: relative;
    transform: rotate(2deg);
}

header .container .about-me .text-about img {
    position: absolute;
    top: -28px;
    left: 45%;
    transform: rotate(28deg);
}

/* ============================== 
SKILLS SECTION STYLES
================================*/
.skills-section {
    margin: 100px auto;
}

.skills-section .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.skills-section .container .skills-list {
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    height: fit-content;
    transform: rotate(-5deg);
    position: relative;
}

.skills-section .container .skills-list h2 { 
    text-align: center;
    margin: 0 0 30px;
}

.skills-section .container .skills-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    columns: 2;
}

.skills-section .container .skills-list ul li {
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease-out;
    margin-bottom: 10px;
    padding: 10px;
}

.skills-section .container .skills-list #skills-pin {
    position: absolute;
    top: -1%;
    right: 1%;
}

.skills-section .container .skills-list #red-arrow {
    position: absolute;
    width: clamp(450px, 10vw, 504px);
    top: -17%;
    left: 46%;
    transform: translate(50%, -50%) rotate(-13deg);
}

.skills-section .container .suitcase-wrapper {
    max-width: 650px;
    width: 100%;
    position: relative;
}

.skills-section .container .suitcase-wrapper img {
    width: 100%;
    transform: rotate(7deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .icon {
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: all 0.3s ease-out;
    position: absolute;
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .js {
    width: clamp(50px, 10vw, 75px);
    height: clamp(50px, 10vw, 75px);
    top: 35%;
    left: 20%;
    transform: scale(1.5) rotate(-11deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .react {
    width: clamp(70px, 10vw, 90px);
    height: clamp(70px, 10vw, 90px);
    top: 39%;
    right: 18%;
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .restAPI {
    width: clamp(70px, 10vw, 90px);
    height: clamp(70px, 10vw, 90px);
    top: 35%;
    left: 41%;
    transform: scale(1.5) rotate(-3deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .html-icon {
    width: clamp(55px, 10vw, 75px);
    height: clamp(105px, 10vw, 125px);
    top: 15%;
    right: 17%;
    transform: scale(1.5) rotate(17deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .css-icon {
    width: clamp(65px, 10vw, 80px);
    height: clamp(65px, 10vw, 80px);
    bottom: 24%;
    left: 36%;
    transform: scale(1.5) rotate(7deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .python {
    width: clamp(70px, 10vw, 90px);
    height: clamp(70px, 10vw, 90px);
    top: 17%;
    left: 38%;
    transform: scale(1.5) rotate(-10deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .mysql {
    width: clamp(150px, 10vw, 180px);
    height: clamp(80px, 10vw, 100px);
    bottom: 29%;
    left: 5%;
    transform: scale(1.5) rotate(-13deg);
}


.skills-section .container .suitcase-wrapper .icons-in-suitcase .figma {
    width: clamp(50px, 10vw, 70px);
    height: clamp(100px, 10vw, 120px);
    top: 13%;
    left: 23%;
    transform: scale(1.5) rotate(6deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .mongodb {
    width: clamp(55px, 10vw, 75px);
    height: clamp(120px, 10vw, 150px);
    top: 19%;
    right: 34%;
    transform: scale(1.5) rotate(-10deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .powerbi {
    width: clamp(70px, 10vw, 90px);
    height: clamp(90px, 10vw, 110px);
    bottom: 19%;
    right: 14%;
    transform: scale(1.5) rotate(-3deg);
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .node {
    width: clamp(230px, 10vw, 260px);
    height: clamp(60px, 10vw, 80px);
    top: 50%;
    left: 30%;
}

.skills-section .container .suitcase-wrapper .icons-in-suitcase .sass {
    width: clamp(75px, 10vw, 95px);
    height: clamp(65px, 10vw, 85px);
    bottom: 22%;
    right: 29%;
    transform: scale(1.5) rotate(-11deg);
} 

/* ============================== 
NEW PROJECTS STYLES
================================*/

.new-projects {
    padding: 30px;
    display: flex;
}

.new-projects .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-projects .container img {
    max-width: 550px;
    width: 100%;
    /* for images(default - inline) display:block - so margin: 0 auto is working */
    display: block; 
    margin: 40px auto;
    transform: rotate(5deg);
}

.new-projects .projects {
    display: flex;
    gap: 50px;
    margin: 170px auto;
    position: relative;
    flex-wrap: wrap;
}

.new-projects .projects .fitbit-dashboard,
.new-projects .projects .guess-the-number,
.new-projects .projects .game-page,
.new-projects .projects .fitness-application,
.new-projects .projects .worldometers-scrape {
    min-width: 300px;
    position: relative;
    margin-bottom: 30px;
}

.new-projects .projects .project-pin {
    position: absolute;
    margin: 0;
    max-width: 55px;
    top: -10%;
    right: 0;
}

.new-projects .projects .fitbit-dashboard .project-pin {
    top: -10%;
    right: 0%;
    transform: rotate(-2deg);
}

.new-projects .projects .guess-the-number .project-pin {
    top: -11%;
    left: 0%;
    transform: rotate(-5deg);
}

.new-projects .projects .game-page .project-pin {
    top: -11%;
    right: 0%;
    transform: rotate(-5deg);
}

.new-projects .projects .fitness-application .project-pin {
    top: -12%;
    left: 0%;
    transform: rotate(-5deg);
}



.new-projects .projects .project {
    opacity: 0;
    transform: translateY(20px);
    flex: 1;
    border-radius: 5px;
    padding: 25px 35px;
    transition: transform 0.3s ease;
    background-color: #3c381e57;
} 

.new-projects .projects .project:nth-child(even) {
    transform: rotate(5deg);
}

.new-projects .projects .project:nth-child(odd) {
    transform: rotate(-5deg);
}

.new-projects .projects .project:hover {
    transform: translateY(-20px);
    background-color: #3c381e78;
}

.new-projects .projects .project span,
.new-projects .projects .project .btn {
    opacity: 0;
}

.new-projects .projects #two-projects {
    margin: 0;
    position: absolute;
    max-width: 378px;
    top: -157px;
    left: 238px;
    transform: rotate(-6deg);
}

.new-projects .projects #one-project {
    position: absolute;
    max-width: 274px;
    top: -90px;
    right: -92px;
    transform: rotate(22deg);
}


/* ============================== 
RESPONSIVE DESIGN
================================*/
@media only screen and (max-width: 1560px) {
    .container {
        margin: 0 auto;
    }
    header .container .about-me {
        display: block;
        text-align: center;
        gap: 20px;
    }

    header .container .about-me-img {
        margin-bottom: 120px;
    }

    header .container .about-me .about-me-second-part {
        margin-top: 140px;
    }

    header .container .about-me .about-me-second-part .social-media .tape {
        left: -11px;
    }
    header .container .about-me .about-me-second-part .social-media .linkedin a img {
        width: 90px;
        height: 90px;
    }

    header .container .about-me .about-me-second-part .social-media .github a img {
        width: 90px;
        height: 90px;
    }
    
    .skills-section .container .skills-list #red-arrow {
        display: none;
    }

    .skills-section .container .skills-list {
        margin: 0 auto 40px;
    }

    .skills-section .container .suitcase-wrapper {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1412px) {
    .new-projects .projects .fitbit-dashboard .project-pin {
        top: -8%;

    }

    .new-projects .projects .guess-the-number .project-pin {
        top: -8%;

    }

    .new-projects .projects .game-page .project-pin {
        top: -8%;

    }
    .new-projects .projects .fitness-application .project-pin {
        top: -8%;

    }
}

@media only screen and (max-width: 656px) {
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .skills-section {
        margin-bottom: 0;
    }
    .skills-section .container .skills-list ul li {
        font-size: 14px;
        font-weight: normal;
    }

    .skills-section .container .suitcase-wrapper {
        display: none;
    }

    .new-projects .projects {
        margin-top: 0;
    }
}

@media only screen and (max-width: 531px) {
    .new-projects .projects .fitbit-dashboard .project-pin {
        top: -15%;
        right: -2%;
    }

    .new-projects .projects .guess-the-number .project-pin {
        top: -15%;
        left: -2%;
    }

    .new-projects .projects .game-page .project-pin {
        top: -14%;
        right: -2%;
    }
    .new-projects .projects .fitness-application .project-pin {
        top: -15%;
        right: -2%;
    }
}

@media only screen and (max-width: 390px) {
    header .container .about-me .social-media {
        flex-wrap: wrap;
        justify-content: center;
    }

    header .container .about-me .social-media .tape {
        display: none;
    }
}