/* ============================== 
MAIN STYLES
================================*/

body {
    margin: 0;
    background: url(images/background.png);
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

h2 {
    color: rgb(245, 230, 151);
    font-weight: bold;
    font-size: 34px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}



.btn-black {
    /* background-color: #222; */
    color: white;
}

.btn-black:hover {
    /* background-color: #070606; */
    color: white;
}

.btn-blue {
    /* background-color: lightblue; */
    color: #222;
}

.btn-blue:hover {
    /* background-color: rgb(129, 186, 205); */
    color: #070606;
}

.tag {
    /* background-color: #222; */
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 4px;
    border-radius: 4px;
}
/* ============================== 
NAVIGATION STYLES
================================*/

nav {
    background-color: rgba(34, 34, 34);
    padding: 30px;
    /* position: sticky; */
    top: 0;
    /* z-index: 1000; */
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: rgb(124, 210, 239);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}

nav a:hover {
    color: rgb(64, 144, 170)
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}


/* ============================== 
HEADER STYLES
================================*/

header {
    /* background-color: lightblue; */
    padding: 80px 30px;
    text-align: left;    
    min-height: 100vh;
}

header .container .about-me {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

header .container .about-me .about-me-img {
    max-width: 450px;
    width: 100%;
    max-height: fit-content;
    transform: rotate(-7deg);
    background-color: rgba(34, 34, 34);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);

}

header .container .about-me .about-me-img img {
    border-radius: 10px;
    width: 100%;
    transform: rotate(7deg);
}

header .container .about-me .about-me-second-part {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

header .container .about-me .social-media {
    display: flex;
    gap: 50px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}

header .container .about-me .social-media .linkedin,
header .container .about-me .social-media .github {
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transform: rotate(12deg);
}

header .container .about-me .social-media .github {
    transform: rotate(-12deg);
}
header .container .about-me .social-media .linkedin a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .github a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .tape {
    position: absolute;
    top: -45px;
    left: -25px;
    /* pointer-events helps to react on the elements arround */
    pointer-events: none; 
    z-index: 5;
    transform: rotate(-1deg);
}


header .container .about-me .text-about {
    padding: 20px 30px;
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    color: #f5f5f5;
    height: fit-content;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    position: relative;
    transform: rotate(2deg);
}

header .container .about-me .text-about img {
    position: absolute;
    top: -28px;
    left: 45%;
    transform: rotate(28deg);
}


/* ============================== 
SKILLS SECTION STYLES
================================*/
.skills-section {
    margin-top: 100px;
    min-height: 100vh;
}

.skills-section .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.skills-section .container .skills-list {
    background-color: rgba(34, 34, 34);
    box-shadow: 0 28px 82px rgba(0, 0, 0, 1);
    color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    height: fit-content;
    transform: rotate(-5deg)
}

.skills-section .container .skills-list h2 { 
    text-align: center;
    margin-bottom: 30px;
}

.skills-section .container .skills-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    columns: 2;
}

.skills-section .container .skills-list ul li {
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease-out;
    margin-bottom: 10px;
    padding: 10px;
}

.skills-section .container #skills-pin {
    position: absolute;
    top: 12px;
    left: 32%;
}

.skills-section .container #red-arrow {
    position: absolute;
    width: 498px;
    height: 177px;
    top: -118px;
    left: 32%;
    transform: rotate(-9deg);
}


.skills-section .container .icons-in-suitcase {
    width: 650px;
    height: 650px;
    transform: rotate(7deg);
    background: url(images/suitcase.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    
}

.skills-section .container .icons-in-suitcase .icon {
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: all 0.3s ease-out;
    position: absolute;
}


.skills-section .container .icons-in-suitcase .js {
    width: 75px;
    height: 75px;
    top: 246px;
    left: 117px;
    transform: scale(1.5) rotate(-11deg);
}

.skills-section .container .icons-in-suitcase .react {
    top: 240px;
    left: 437px;
    width: 90px;
    height: 90px;
}

.skills-section .container .icons-in-suitcase .restAPI {
    width: 90px;
    height: 90px;
    top: 215px;
    left: 236px;
    transform: scale(1.5) rotate(-3deg);
}

.skills-section .container .icons-in-suitcase .html-icon {
    top: 90px;
    left: 464px;
    width: 67px;
    height: 117px;
    transform: scale(1.5) rotate(16deg);
}

.skills-section .container .icons-in-suitcase .css-icon {
    width: 80px;
    height: 80px;
    top: 406px;
    left: 247px;
    transform: scale(1.5) rotate(7deg);
}

.skills-section .container .icons-in-suitcase .python {
    width: 80px;
    height: 80px;
    top: 94px;
    left: 234px;
    transform: scale(1.5) rotate(-10deg);
}

.skills-section .container .icons-in-suitcase .mysql {
    top: 389px;
    left: 34px;
    width: 172px;
    height: 90px;
    transform: scale(1.5) rotate(-15deg);
}


.skills-section .container .icons-in-suitcase .figma {
    width: 65px;
    height: 100px;
    top: 114px;
    left: 118px;
    transform: scale(1.5) rotate(6deg);
}

.skills-section .container .icons-in-suitcase .mongodb {
    width: 63px;
    height: 145px;
    top: 132px;
    left: 348px;
    transform: scale(1.5) rotate(-10deg);
}

.skills-section .container .icons-in-suitcase .powerbi {
    width: 90px;
    height: 105px;
    top: 388px;
    left: 482px;
    transform: scale(1.5) rotate(-7deg);
}

.skills-section .container .icons-in-suitcase .node {
    width: 256px;
    height: 71px;
    top: 316px;
    left: 185px;
}

.skills-section .container .icons-in-suitcase .sass {
    width: 95px;
    height: 90px;
    top: 392px;
    left: 362px;
    transform: scale(1.5) rotate(-11deg);
} */





/* ============================== 
NEW PROJECTS STYLES
================================*/

.new-projects {
    padding: 30px;
    min-height: 100vh;
}


.new-projects .container img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.new-projects .projects {
    display: flex;
    gap: 16px;
}

.new-projects .projects .project {
    flex: 1;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 20px 30px;
} 


/* ============================== 
EDUCATION STYLES
================================*/
.education {
    min-height: 100vh;
}