/* ============================== 
MAIN STYLES
================================*/

body {
    margin: 0;
    background: url(images/background.png);
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}



.btn-black {
    /* background-color: #222; */
    color: white;
}

.btn-black:hover {
    /* background-color: #070606; */
    color: white;
}

.btn-blue {
    /* background-color: lightblue; */
    color: #222;
}

.btn-blue:hover {
    /* background-color: rgb(129, 186, 205); */
    color: #070606;
}

.tag {
    /* background-color: #222; */
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 4px;
    border-radius: 4px;
}
/* ============================== 
NAVIGATION STYLES
================================*/

nav {
    background-color: #222222cb;
    padding: 30px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: rgb(115, 179, 201);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

nav a:hover {
    color: rgb(54, 127, 151);
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}


/* ============================== 
HEADER STYLES
================================*/

header {
    /* background-color: lightblue; */
    padding: 80px 30px;
    text-align: left;    
}

header .container .about-me {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: space-between;
}

header .container .about-me .about-me-img {
    max-width: 450px;
    width: 100%;
    max-height: fit-content;
    transform: rotate(-7deg);
    background-color: #222222cb;
    padding: 20px;
    border-radius: 10px;
}

header .container .about-me .about-me-img img {
    border-radius: 10px;
    width: 100%;
    transform: rotate(7deg);
}

header .container .about-me .about-me-second-part {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

header .container .about-me .social-media {
    display: flex;
    gap: 50px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}

header .container .about-me .social-media .linkedin,
header .container .about-me .social-media .github {
    background-color: #222222cb;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transform: rotate(12deg);
}

header .container .about-me .social-media .github {
    transform: rotate(-12deg);
}
header .container .about-me .social-media .linkedin a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .github a img {
    width: 60px;
    height: 60px;
}

header .container .about-me .social-media .tape {
    position: absolute;
    top: -45px;
    left: -25px;
    /* pointer-events helps to react on the elements arround */
    pointer-events: none; 
    z-index: 5;
    transform: rotate(-1deg);
}


header .container .about-me .text-about {
    padding: 20px 30px;
    background-color: #222222cb;
    color: whitesmoke;
    height: fit-content;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    position: relative;
    transform: rotate(2deg);
}

header .container .about-me .text-about h2 {
    color: rgb(231, 215, 130);
}

header .container .about-me .text-about img {
    position: absolute;
    top: -28px;
    left: 45%;
    transform: rotate(28deg);
}


/* ============================== 
SKILLS SECTION STYLES
================================*/
.skills-section .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.skills-section .container .skills-section {
    background-color: #222222cb;
    color: whitesmoke;
    border-radius: 20px;
    padding: 20px 30px;
}

.skills-section .container .skills-section .skills-list h2 {
    color: rgb(231, 215, 130);
}
/* 
.skills-section .container .skills-section .skills-list ul {

} */


.skills-section .container .icons-in-suitcase {
    width: 600px;
    height: 600px;
    transform: rotate(7deg);
    background: url(images/suitcase.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.skills-section .container .icons-in-suitcase .icon {
    width: 70px;
    height: 70px;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease-out;
    position: absolute;
}


.skills-section .container .icons-in-suitcase .js {
    top: 100px;
    left: 120px;
    transform: scale(1.5) rotate(-21deg);
}

.skills-section .container .icons-in-suitcase .mongodb {
    width: 60px;
    height: 120px;
    top: 97px;
    left: 250px;
    transform: scale(1.5) rotate(35deg);


}
.skills-section .container .icons-in-suitcase .python {
    top: 110px;
    left: 390px;
    transform: scale(1.5) rotate(-10deg);
}

.skills-section .container .icons-in-suitcase .figma {
    width: 65px;
    height: 100px;
    top: 205px;
    left: 130px;
    transform: scale(1.5) rotate(6deg);
}
.skills-section .container .icons-in-suitcase .react {
    top: 240px;
    left: 273px;
    width: 90px;
    height: 90px;
}

.skills-section .container .icons-in-suitcase .html-icon {
    top: 220px;
    left: 409px;
    width: 60px;
    height: 100px;
    transform: scale(1.5) rotate(16deg);
}

.skills-section .container .icons-in-suitcase .mysql {
    top: 345px;
    left: 44px;
    width: 172px;
    height: 90px;
    transform: scale(1.5) rotate(-15deg);
}

.skills-section .container .icons-in-suitcase .css-icon {
    width: 80px;
    height: 80px;
    top: 365px;
    left: 269px;
    transform: scale(1.5) rotate(10deg);
}

.skills-section .container .icons-in-suitcase .powerbi {
    width: 90px;
    height: 105px;
    top: 350px;
    left: 419px;
    transform: scale(1.5) rotate(-9deg);
}







/* ============================== 
NEW PROJECTS STYLES
================================*/

.new-projects {
    padding: 30px;
}

.new-projects h2 {
    text-align: center;
}

.new-projects .projects {
    display: flex;
    gap: 16px;
}

.new-projects .projects .project {
    flex: 1;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 20px 30px;
} 


/* ============================== 
MAIN STYLES
================================*/